html,
body {
    height: 100%;
    font-family: Verdana,sans-serif;
    font-size: 1em;   
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.rrow {
    clear: both;
    margin-top: 6px;
}

.none {
    display: none;
}

.url-controls {
    display: block;    
}

.nl {
    clear:both;
}

.url-controls label {
    display: block;    
    font-weight: 400;
}

.url-controls input {
    font-weight: 400;
    display: inline-block;    
    min-width: 400px;
    margin-right: 10px;
    padding: 2px;
}

.url-controls .button {    
    margin-right: 5px;
}

.url-controls .short-url {
    display: inline-block;
    min-width: 400px; 
    margin-right: 10px;
    padding: 6px;
    min-height: 26px;
    background-color: #eee;
    border-radius: 7px;
    color: #0048FF;
    cursor: pointer;
}

.url-controls .error {
    margin: 7px 2px 3px;
    font-size: 0.8em;
    color: #DF1818;
}
